version: 2.1

parameters:
  image-tag:
    type: string
    default: "current"
  and-another:
    type: enum
    enum: ["env-a", "env-b", "env-c", "env-d"]
    default: "env-a"

jobs:
  myjob:
    docker:
      - image: cimg/node:17.9.1
    steps:
      - checkout
      - run:
          name: cat README
          command: cat README.md
      - run:
          name: echo
          command: echo "This config is defined in NEW-trigger-repo"

workflows:
  do_some_stuff:
    jobs:
      - myjob

